:root{
    --background: #0C0D07;
    --base-color: #242616;
    --input-color: #53593C;
    --accent-color: #A3F150;
    --text-color: #ECF2DF;
}

/*Kun padding ja Margin alussa nollanna, saa kaikki suoraan nolattua*/
*{
    margin: 0;
    padding: 0;
}

/*Tekstiä varten asetukset, Fontin väri haettu ROOTISTA*/
html{
    font-family: "New Rocker", system-ui;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}

body{
    background-image: url(/Images/Todo-Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    transition: background 0.3s ease-in-out;
    min-height: 100vh; /*Koko näytön kokoinen*/
    padding: 10px;
    background-color: var(--background);
    overflow: hidden;
}

.wrapper {
    /*Border boxilla kaikki muutokset tapahtuu sisäänpäin, nähdään nyt molemmat pyöristetyt kulmat, ei ylivuotoa*/
    box-sizing: border-box;
    background-color: rgba(36, 38, 22, 0.4);
    height: 100vh;
    /*ottaa käyttöön kumpi vaan on isompi arvo */
    width: max(40%, 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
        display: flex;
    flex-direction: column; /*Flexbox järjestää tavarat nyt pystysuoraan*/
    align-items: center; /*Keskittää itemit*/
}

h1 {
    /*3 rem tarkoittaa 3 kertaa htmlssä annetun tekstin koko*/
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--accent-color);
        text-shadow:
        -2px -2px 0 var(--primary-color),
        2px -2px 0 var(--primary-color),
        -2px  2px 0 var(--primary-color),
        2px  2px 0 var(--primary-color);
}

form{
    /*Käyttää pienintä arvoa, joko 400px tai 100%*/
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/*käytetään lapsi elementtiä, jotta saadaan flexin käyttö myös siihen*/
form > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

form label {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--accent-color);
    fill: var(--background);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: none;
    /*muutos kun hiiri on input kentän kohdalla menee nätimmin, vaikka väri on näkymätön
    Sen sijaan, että sitä ei olisi merkattu*/
    border: 2px solid var(--input-color); 
    /*KOska annettiin yllä borderi, vaikka näkymätön, niin se ei kasva tuhottomasti*/
    border-left: none;
    background-color: var(--input-color);
    transition: 150ms ease;
}

form input:hover {
    border: 2px solid var(--accent-color);
}

/*Nätimpi FOCUS effecti input kentässä*/
form input:focus {
    outline: none;
    border-color: var(--text-color);
}

/*Lapsi elementti käytössä*/
div:has(input:focus) > label {
    background-color: var(--text-color);
}

/*tarkennetaan mikä lapsi elementti kyseessä*/
form input::placeholder {
    color: var(--accent-color);
    opacity: 1;
}

form button {
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85em 4em;
    background-color: var(--accent-color);
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

form button:hover {
    background-color: var(--text-color);
}

form button:focus {
    outline: none;
    background-color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

a:hover {
    text-decoration: underline;
}


/*Media query, jossa MIN efekti tuo koon toimimaan riippuen kumpi
arvo on pienempi. tabletti vs mobiili*/
@media(max-width: 1100px){
    .wrapper {
        width: min(600px, 100%);
    }
}





/*ENTRANCE PAGE STYLES*/

.Welcometxt {
    font-size: 6rem;
}

#enterBTN {
    background-color: var(--accent-color);
    height: 100%;
    padding: 5px 70px;
    border: none;
    border-radius: 1000px;
    font: inherit;
    font-weight: 600;
    color: var(--background);
    cursor: pointer;
    margin-top: 50px;

}

#enterBTN:hover{
    background: var(--background);
    border: 1px solid var(--accent-color);
    color: var(--text-color);
    padding: 10px 85px;
    transform: scale(1.05);
    transition: ease-in 0.5s;
}

footer {
    background-color: rgba(0, 0, 0, 0.2); 
    color: var(--text-color);
    padding: 20px;
    text-align: center;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: var(--accent-color);
    text-decoration: none;
}

.Welcometxt {
    margin-top: 300px;
}